@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&family=Montserrat:wght@400;700&display=swap');

:root {
  --font-sigmar-one: 'Sigmar One', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
}


body {
  margin: 0;
  font-family: var(--font-sigmar-one);
}
